DOC/
.vs/
VanitySearchNoCUDA.*
VanitySearch.vcxproj.user
VanitySearchCUDA8.vcxproj.user
VanitySearchCUDA8.vcxproj.user
VanitySearchCUDA8.VC.opendb
VanitySearchCUDA8.sdf
vc140.pdb
x64/
obj/
.idea/
CMakeLists.txt
VanitySearch
cmake-build-debug/
*.prf
GPU/mongo_keys.cache.bin
GPU/CalcR_GPU
GPU/CalcR_GPU
GPU/mongo_keys.cache1.bin
GPU/GenCache_171
GPU/GenCache
GPU/CalcR_GPU
GPU/CalcR_GPU
GPU/CalcR_GPU
